.about-us{
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us__title{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.about-us__text{
  width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
