.about-us{
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us__title{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.about-us__text{
  width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@media only screen and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us__text{
    width: 925px;
  }
}

@media only screen and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us__text{
    width: 666px;
  }
}

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-us__text{
    width: 292px;
  }
}
