.about-us__content{
  color: var(--dark-gray)
}

.about-us__container{
  margin: 0 auto;
}

.about-us__title{
  font-weight: 400;
}

.about-us__content{
  font-weight: 400;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-us__container{
      max-width: 320px;
      margin-top: 6px;
      padding-left: 15px;
  }

  .about-us__title{
      font-size: 28px;
      line-height: 38px;
  }

  .about-us__content{
      padding-top: 12px;
      padding-right: 16px;
      font-size: 14px;
      line-height: 28px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us__container{
      max-width: 768px;
      padding-left: 52px;
      padding-bottom: 70px;
  }

  .about-us__title{
      font-size: 48px;
      line-height: 65px;
  }

  .about-us__content{
      padding-top: 15px;
      padding-right: 50px;
      font-size: 16px;
      line-height: 32px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us__container{
    max-width: 1024px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
  }

  .about-us__content{
    padding-right: 9px;
  }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .about-us__container{
    max-width: 1920px;
    padding: 14px 639px 70px 158px;
  }

  .about-us__title{
    font-size: 48px;
    line-height: 65px;
  }

  .about-us__content{
    padding-top: 15px;
    padding-right: 37px;
    font-size: 16px;
    line-height: 32px;
    }
}
