.contacts__subtitle,
.contacts__text,
.contacts__form_title,
.contacts__text_subtitle,
.contacts__tittle-desc{
    color: var(--dark-gray);
}

.contacts{
  margin: 0 auto;
}

.contacts__subtitle{
  font-weight: 600;
}

.contacts__text,
.contacts__form_title{
  font-weight: normal;
}

.contacts__input{
  border: 1px solid var(--dark-gray);
  border-radius: 100px;
}

.contacts__submit{
  display: block;
  border: 2px solid var(--purple);
  border-radius: 100px;
  background-color: inherit;
}

.contacts__list-msg{
  display: flex;
}

.contacts__msg-link{
  display: inline-block;
  background-repeat: no-repeat;
}

.contacts__submit:focus{
  box-shadow:  0 0 0 5px #fff, 0 0 0 8px var(--hover-purple);
}

.contacts__submit:hover{
  background-color: var(--hover-purple);
  color: #fff;
}

.contacts__submit:active{
  background-color: var(--active-purple);
  box-shadow:  0 0 0 2px #fff, 0 0 0 5px var(--hover-purple);
  color: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .contacts__tittle-desc{
        display: none;
    }

    .contacts__desc{
        display: none;
    }

    .contacts__container{
      max-width: 320px;
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
    }

    .contacts__title{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--dark-gray);
    }

    .contacts__subtitle{
        padding-top: 12px;
        font-size: 18px;
        line-height: 25px;
    }

    .contacts__text{
        font-size: 14px;
    }

    .YandexMap {
        width: 100%;
        height: 320px;
        margin-top: 20px;
    }

    [class*="ground-pane"]{
        filter: grayscale(1);
    }

    .contacts__form_title{
        padding-top: 18px;
        font-size: 18px;
        line-height: 32px;
    }

    .contacts__form{
      margin-bottom: 3px;
      padding-top: 16px;
    }

    .contacts__input{
        display: block;
        height: 40px;
        width: 290px;
        margin-bottom: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
    }

    .contacts__submit{
        width: 128px;
        height: 40px;
        color: var(--purple);
        font-size: 12px;
        font-weight: 700;
    }

    .contacts__msg{
        padding-top: 5px;
    }

    .contacts__msg-link{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

   .wtsp{
    background-image: url('../icons/320/Whatsapp-Icon.svg');
   }

   .telegram{
    background-image: url('../icons/320/telegram-Icon.svg');
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .contacts__title{
        display: none;
    }

    .contacts__container{
        display: none;
    }

    .contacts{
        position: relative;
        /* max-width: 768px; */
        margin-top: 50px;
    }

    .contacts__tittle-desc{
        padding-left: 46px;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
    }

    .contacts__desc{
        display: inline-block;
        margin-top: 14px;
        padding: 124px 45px 104px 50px;
        height: 700px;
        width: 430px;
        border: 1px solid #CACACA;
    }

    .contacts__subtitle{
        font-size: 24px;
        line-height: 32px;
    }

    .contacts__text{
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.4px;
    }

    .contacts__form_title{
        margin-top: 31px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.7px;
    }

    .contacts__form{
        padding-top: 16px;
    }

    .contacts__input{
        height: 40px;
        width: 100%;
        margin-bottom: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
    }

    .contacts__submit{
        width: 155px;
        height: 58px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: var(--purple);
    }

    .contacts__text_subtitle{
        margin-top: 40px;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.4px;
    }

    .contacts__msg{
        margin-top: 15px;
    }

    .contacts__msg-link{
        width: 60px;
        height: 60px;
        margin-right: 27px;
    }

    .wtsp{
        background-image: url('../icons/768/Whatsapp-Icon-768.svg');
    }

    .telegram{
        background-image: url('../icons/768/telegram-Icon-768.svg');
    }

    .YandexMap{
        position: absolute;
        padding-top: 14px;
        right: 0;
        min-width: 338px;
        min-height: 700px;
    }

    .ymaps-2-1-78-map{
        min-width: 338px;
        min-height: 700px;
    }

    [class*="ground-pane"]{
        filter: grayscale(1);
    }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .contacts__title{
    display: none;
  }

.contacts__container{
    display: none;
  }

.contacts{
    position: relative;
    max-width: 1024px;
    margin-top: 50px;
  }

.contacts__tittle-desc{
    padding-left: 46px;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 1.7px;
  }

  .contacts__desc{
    display: inline-block;
    margin-top: 14px;
    padding: 124px 45px 104px 50px;
    height: 700px;
    width: 487px;
    border: 1px solid #CACACA;
  }

  .contacts__subtitle{
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts__text{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.4px;
  }

  .contacts__form_title{
    margin-top: 31px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.7px;
  }

  .contacts__form{
    padding-top: 16px;
  }

  .contacts__input{
    height: 40px;
    width: 85%;
    margin-bottom: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
  }

  .contacts__submit{
    width: 155px;
    height: 58px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: var(--purple);
  }

  .contacts__text_subtitle{
    margin-top: 40px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
  }

  .contacts__msg{
    margin-top: 15px;
  }

  .contacts__msg-link{
    width: 60px;
    height: 60px;
    margin-right: 27px;
  }

  .wtsp{
    background-image: url('../icons/768/Whatsapp-Icon-768.svg');
  }

  .telegram{
    background-image: url('../icons/768/telegram-Icon-768.svg');
  }

  .YandexMap{
    position: absolute;
    padding-top: 14px;
    right: 0;
    min-width: 537px;
    min-height: 700px;
  }

.ymaps-2-1-78-map{
    min-width: 537px;
    min-height: 700px;
  }

[class*="ground-pane"]{
    filter: grayscale(1);
  }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .contacts__title{
    display: none;
  }

.contacts__container{
    display: none;
  }

  .contacts{
    position: relative;
    max-width: 1920px;
    margin-top: 50px;
  }

  .contacts__tittle-desc{
    padding-left: 159px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
  }

  .contacts__desc{
    display: inline-block;
    margin-top: 14px;
    padding: 124px 45px 104px 160px;
    height: 700px;
    width: 683px;
    border: 1px solid #CACACA;
  }

  .contacts__subtitle{
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
  }

  .contacts__text{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.4px;
  }

  .contacts__form_title{
    margin-top: 31px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.7px;
  }

  .contacts__form{
    padding-top: 16px;
  }

  .contacts__input{
    height: 40px;
    width: 85%;
    margin-bottom: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
  }

  .contacts__submit{
    width: 155px;
    height: 58px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: var(--purple);
  }

  .contacts__text_subtitle{
    margin-top: 40px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
  }

  .contacts__msg{
    margin-top: 15px;
  }

  .contacts__msg-link{
    width: 60px;
    height: 60px;
    margin-right: 27px;
  }

  .wtsp{
    background-image: url('../icons/768/Whatsapp-Icon-768.svg');
  }

  .telegram{
    background-image: url('../icons/768/telegram-Icon-768.svg');
  }

  .YandexMap{
    position: absolute;
    padding-top: 13px;
    right: 17px;
    min-width: 1220px;
    min-height: 700px;
  }

  .ymaps-2-1-78-map{
    min-width: 1220px;
    min-height: 700px;
  }

  [class*="ground-pane"]{
    filter: grayscale(1);
  }
}
