@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .contacts__tittle-desc{
        display: none;
    }
    
    .contacts{
        max-width: 320px;
        margin: 0 auto;
    }

    .contacts__container{
        padding-right: 15px;
        padding-left: 15px;
    }

    .contacts__title{
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--dark-gray);
    }

    .contacts__subtitle{
        padding-top: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: var(--dark-gray);
    }

    .contacts__text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: var(--dark-gray);
    }

    .YandexMap {
        width: 320px; 
        height: 320px;
        margin-top: 20px;
    }

    [class*="ground-pane"]{
        filter: grayscale(1);
    }

    .contacts__form_title{
        padding-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: var(--dark-gray);
    }

    .contacts__form{
        padding-top: 20px;
    }

    .contacts__input{
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        border: 1px solid var(--dark-gray);
        border-radius: 100px;
    }

    .contacts__submit{
        display: block;
        width: 128px;
        height: 40px;
        border: 2px solid var(--purple);
        border-radius: 100px;
        background-color: inherit;
    }

    .contacts__text{
        padding-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: var(--dark-gray);
    }

    .contacts__msg{
        padding-top: 10px;
    }

    .contacts__list-msg{
        display: flex;
    }

    .contacts__msg-link{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        background-repeat: no-repeat;
    }

   .wtsp{
    background-image: url('../icons/320/Whatsapp-Icon.svg');
   }

   .telegram{
    background-image: url('../icons/320/telegram-Icon.svg');
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .contacts__title{
        display: none;
    }

    .contacts{
        max-width: 768px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .contacts__tittle-desc{
        padding-left: 46px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
        color: var(--dark-gray);
    }
}