.Domenico__little-title{
    color: var(--space-gray);
}

.Domenico__container{
  margin: 0 auto;
}

.Domenico__subtitle{
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.6px;
}

.Domenico__image{
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .Domenico__container{
        max-width: 320px;
        margin-top: 76px;
    }

    .Domenico{
        padding-right: 15px;
        padding-left: 15px;
    }

    .Domenico__subtitle{
        padding-top: 16px;
    }

    .Domenico__content{
      padding-right: 2px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }

    .Domenico__little-title{
        margin-top: 14px;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .Domenico__container{
        /* max-width: 768px; */
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .Domenico__subtitle{
        padding-top: 27px;
    }

    .Domenico__little-title{
        padding-top: 7px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.3px;
    }

    .Domenico__content{
        padding-top: 7px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.6px;
    }
}
