@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .Domenico__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 18px;
    }

    .Domenico{
        padding-right: 15px;
        padding-left: 15px;
    }

    .Domenico__subtitle{
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.6px;
    }

    .Domenico__content{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.6px;
    }

    .Domenico__little-title{
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: var(--space-gray);
    }
}