@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .editions__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 60px;
    }

    .editions{
        min-height: 1542px;
        padding-top: 50px;
        padding-right: 15px;
        padding-left: 15px;
        background-image: url(../images/320/bc-editions-320.jpg);
        background-repeat: no-repeat;
    }

    .editions__subtitle{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--white);
    }

    .editions__list{
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item{
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 11px;
        padding-left: 0;
        text-align: start;
        background-image: url('../icons/320/bc-catalog-arr-down.svg');
        background-repeat: no-repeat;
        background-position: right;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item-text{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }
}