@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .editions__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 60px;
    }

    .editions{
        min-height: 1542px;
        padding-top: 50px;
        padding-right: 15px;
        padding-left: 15px;
        background-image: url(../images/320/bc-editions-320.jpg);
        background-repeat: no-repeat;
    }

    .editions__subtitle{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--white);
    }

    .editions__list{
        margin-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item{
        padding-top: 5px;
        padding-right: 0;
        padding-bottom: 2px;
        padding-left: 0;
        text-align: start;
        background-image: url('../icons/320/arr-galery.svg');
        background-repeat: no-repeat;
        background-position: right;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item-text{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }

    .editions__panel{
        max-height: 0;
        transition: max-height 0.3s ease-out;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
        background-color: inherit;
        overflow: hidden;
    }

    .edition__panel_list{
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .edition__list_item{
        min-height: 38px;
        padding-top: 3px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .edition__panel_list > .edition__list_item:last-child{
        border: none;
    }

    .edition__list_item > label{
        position: relative;
    }

    #check{
        display: none;
    }

    #check + .edition__checkbox{
        position: absolute;
        top: 3px;
        left: 0;
        width: 12px;
        height: 12px;
        text-align: center;
        border: 1px solid var(--white);
      }

      #check + .edition__checkbox:before{
        content: '\2713';
        position: absolute;
        top: -10px;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }
      
      #check:checked + .edition__checkbox:before{
        opacity: 1;
      }

    .edition__checkbox_text{
        padding-left: 22px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        color: var(--white);
    }

    .edition__cost{
        padding-top: 18px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }
}