@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .editions__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 60px;
    }

    .editions{
        min-height: 1542px;
        padding-top: 50px;
        padding-right: 15px;
        padding-left: 15px;
        background-image: url(../images/320/bc-editions-320.jpg);
        background-repeat: no-repeat;
    }

    .editions__subtitle{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--white);
    }

    .editions__list{
        margin-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item{
        padding-top: 5px;
        padding-right: 0;
        padding-bottom: 2px;
        padding-left: 0;
        text-align: start;
        background-image: url('../icons/320/arr-galery.svg');
        background-repeat: no-repeat;
        background-position: right;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .editions__item-text{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }

    .editions__panel{
        max-height: 0;
        transition: max-height 0.3s ease-out;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
        background-color: inherit;
        overflow: hidden;
    }

    .edition__panel_list{
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .edition__list_item{
        min-height: 38px;
        padding-top: 3px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .edition__panel_list > .edition__list_item:last-child{
        border: none;
    }

    .edition__list_item > label{
        position: relative;
    }

      /* Option */

    .option {
        display: block;
        margin-bottom: 0.5em;
    }

    .check {
        padding-left: 1.3em;
    }

    .check__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    .check__box {
        position: absolute;
        left: 2px;
        margin-top: 12px;
        width: 10px;
        height: 10px;
        overflow: hidden;
        background-color: inherit;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        box-shadow: 0 0 0 0.1em var(--purple);
    }

        /* Checked */

    .check__input:checked + .check__box {
        background-color: inherit;
        background-image: url('../icons/320/checbox.svg');
    }

        /* Focused */

    .check__input:focus + .check__box {
        box-shadow:
            0 0 0 0.1em var(--purple);
    }

    .check__text{
        margin-left: 2px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        color: var(--white);
    }

    .check__text:hover,
    .check__text:active,
    .check__text:focus{
        color: var(--purple);
    }

    .edition__cost{
        padding-top: 18px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }

    .edition__cost-form{
        position: relative;
        display: flex;
        max-width: 277px;
        max-height: 40px;
        margin-top: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
    }

    .edition__cost-text{
        padding-top: 4px;
        padding-right: 10px;
        padding-left: 10px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }

    .edition__cost-number{
        min-height: 39px;
        max-width: 73px;
        padding-left: 10px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: start;
        line-height: 32px;
        color: var(--white);
        background-color: rgba(157, 92, 208, 0.5);
        border: none;
    }

    .edition__list_books{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        column-gap: 30px;
        row-gap: 50px;
        margin-top: 50px;
    }

    .edition__book-name{
        padding-top: 9px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: var(--white);
    }

    .edition__book-author{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: var(--white);
    }

    .edition__book-cost{
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: var(--white);
    }

    .edition__item_btn{
        width: 100%;
        margin-top: 8px;
        padding-top: 10px;
        padding-right: 15.17px;
        padding-bottom: 10px;
        padding-left: 15.17px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: var(--white);
        background-color: inherit;
        border: 2px solid var(--purple);
        border-radius: 100px;
    }
}