.events__subtitle{
    color: var(--dark-gray);
}

.events__little-title{
    color: var(--space-gray);
}

.events__link{
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container__event-desc{
        display: none;
    }
    
    .events__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .events{
        padding-right: 15px;
        padding-left: 15px;
    }

    .events__subtitle{
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
    }

    .swiper-container-event{
        position: relative;
    }

    .events__images{
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 703px;
        margin-top: 10px;
        background-repeat: no-repeat;
    }

    .events__images--1{
        background-image: url(../images/320/bc-events-320-1.jpg);
    }

    .events__images--2{
        background-image: url(../images/320/bc-events-320-2.jpg);
    }

    .events__images--3{
        background-image: url(../images/320/bc-events-320-3.jpg);
    }

    .events__images--4{
        background-image: url(../images/320/bc-events-320-4.jpg);
    }

    .events__images--5{
        background-image: url(../images/320/bc-events-320-5.jpg);
    }

    .events__content{
        position: relative;
        top: 200px;
        min-height: 483px;
        padding-top: 14px;
        padding-right: 10.58px;
        padding-bottom: 50px;
        padding-left: 28.58px;
        border: 1px solid var(--gray);
    }

    .events__little-title{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
    }

    .events__content-title{
        padding-top: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: var(--dark-gray);
    }

    .events__content-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--dark-gray);
    }

    .events__link{
        position: absolute;
        bottom: 49px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container-event{
        display: none;
    }

    .events__container{
        margin: 0 auto;
        margin-top: 71px;
        padding-right: 50px;
        padding-left: 49px;
    }

    .events__subtitle{
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
    }

    .events-swiper__container{
        display: grid;
        grid-template-columns: 317px 317px;
        grid-column-gap: 34px;
    }

    .events__images{
        position: relative;
        max-width: 317px;
        min-height: 685px;
        margin-top: 15px;
        background-repeat: no-repeat;
    }

    .events__images--1{
        background-image: url(../images/768/bc-events-768-1.jpg);
    }

    .events__images--2{
        background-image: url(../images/768/bc-events-768-2.jpg);
    }

    .events__images--3{
        background-image: url(../images/768/bc-events-768-3.jpg);
    }

    .events__images--4{
        background-image: url(../images/768/bc-events-768-4.jpg);
    }

    .events__images--5{
        background-image: url(../images/768/bc-events-768-5.jpg);
    }

    .events__content{
        position: relative;
        top: 200px;
        min-height: 483px;
        padding-top: 14px;
        padding-right: 10.58px;
        padding-bottom: 50px;
        padding-left: 28.58px;
        border: 1px solid var(--gray);
    }

    .events__little-title{
        padding-left: 7px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;
    }

    .events__content-title{
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 7px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.5px;
    }

    .events__content-text{
        padding-top: 2px;
        padding-right: 11px;
        padding-left: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.5px;
    }

    .events__link{
        position: absolute;
        bottom: 49px;
        left: 36px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
    }

    .events__btn{
        display: block;
        margin: 0 auto;
        margin-top: 47px;
        padding: 17px 35px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: var(--purple);
        background-color: inherit;
        border: 1px solid var(--purple);
        border-radius: 100px;
    }
}