.events__subtitle{
  font-weight: normal;
  color: var(--dark-gray);
}

.events__little-title{
  color: var(--space-gray);
}

.events__link{
  color: var(--purple);
}

.events__container{
  margin: 0 auto;
}

.events__images{
  background-repeat: no-repeat;
}

.events__content{
  border: 1px solid var(--gray);
}

.events__link:focus{
  padding-bottom: 2px;
  outline: 2px solid var(--focus-purple);
}

.events__link:after{
  display: block;
  margin-top: -4px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--purple);
  transition: width .3s ease-in-out;
}

.events__link:hover{
  font-weight: 700;
}

.events__link:active{
  font-weight: 700;
  color: var(--active-purple);
}

.events__link:hover:after{
  background-color: var(--active-purple);
}

.events__btn:focus{
  box-shadow:  0 0 0 5px #fff, 0 0 0 8px var(--hover-purple);
}

.events__btn:hover{
  background-color: var(--hover-purple);
  color: #fff;
}

.events__btn:active{
  background-color: var(--active-purple);
  box-shadow:  0 0 0 2px #fff, 0 0 0 5px var(--hover-purple);
  color: #fff;
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container__event-desc{
        display: none;
    }

    .events__btn{
        display: none;
    }

    .events__container{
        max-width: 320px;
        margin-top: 50px;
    }

    .events{
        padding-right: 14px;
        padding-left: 14px;
    }

    .events__subtitle{
        font-size: 28px;
        line-height: 38px;
    }

    .swiper-container-event{
        position: relative;
    }

    .events__images{
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 703px;
        margin-top: 10px;
    }

    .events__images--1{
        background-image: url(../images/320/bc-events-320-1.jpg);
    }

    .events__images--2{
        background-image: url(../images/320/bc-events-320-2.jpg);
    }

    .events__images--3{
        background-image: url(../images/320/bc-events-320-3.jpg);
    }

    .events__images--4{
        background-image: url(../images/320/bc-events-320-4.jpg);
    }

    .events__images--5{
        background-image: url(../images/320/bc-events-320-5.jpg);
    }

    .events__content{
        position: relative;
        top: 200px;
        max-width: 290px;
        min-height: 483px;
        padding: 14px 10.58px 50px 28.58px;
    }

    .events__little-title{
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
    }

    .events__content-title{
        padding-top: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: var(--dark-gray);
    }

    .events__content-text{
        padding-top: 38px;
        padding-right: 12px;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: var(--dark-gray);
    }

    .events__link{
        position: absolute;
        bottom: 49px;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
    }
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container__event-desc{
        display: none;
    }

    .swiper-container-event{
        position: relative;
    }

    .events{
      margin-top: 71px;
      margin-bottom: 83px;
      padding-right: 0;
      padding-left: 0;
    }

    .events__container{
        max-width: 768px;
        padding-right: 50px;
        padding-left: 49px;
    }

    .events__subtitle{
        font-size: 48px;
        line-height: 65px;
    }

    .events__images{
        position: relative;
        min-height: 685px;
        margin-top: 15px;
    }

    .events__images--1{
        background-image: url(../images/768/bc-events-768-1.jpg);
    }

    .events__images--2{
        background-image: url(../images/768/bc-events-768-2.jpg);
    }

    .events__images--3{
        background-image: url(../images/768/bc-events-768-3.jpg);
    }

    .events__images--4{
        background-image: url(../images/768/bc-events-768-4.jpg);
    }

    .events__images--5{
        background-image: url(../images/768/bc-events-768-5.jpg);
    }

    .events__content{
        position: relative;
        top: 200px;
        max-width: 317px;
        min-height: 483px;
        padding: 14px 10.58px 50px 28.58px;
    }

    .events__little-title{
        padding-left: 7px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;
    }

    .events__content-title{
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 7px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .events__content-text{
        padding-top: 2px;
        padding-right: 11px;
        padding-left: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .events__link{
        position: absolute;
        bottom: 49px;
        left: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }

    .events__link:after{
        margin-top: 1px;
    }

    .events__btn{
        display: block;
        margin: 0 auto;
        margin-top: 47px;
        padding: 17px 35px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: var(--purple);
        background-color: inherit;
        border: 1px solid var(--purple);
        border-radius: 100px;
    }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container-event{
        display: none;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      display: none;
  }

    .events{
      margin-top: 32px;
      margin-bottom: 80px;
    }

    .events__container{
        max-width: 1024px;
        margin-top: 32px;
        padding-right: 50px;
        padding-left: 49px;
    }

    .events__subtitle{
        font-size: 48px;
        line-height: 65px;
    }

    .swiper-container__event-desc{
        position: relative;
        display: block;
    }

    .events__images{
        position: relative;
        max-width: 290px;
        min-height: 685px;
        margin-top: 15px;
    }

    .events__images--1{
        background-image: url(../images/1024/bc-events-1.jpg);
    }

    .events__images--2{
        background-image: url(../images/1024/bc-events-2.jpg);
    }

    .events__images--3{
        background-image: url(../images/1024/bc-events-3.jpg);
    }

    .events__images--4{
        background-image: url(../images/1024/bc-events-4.jpg);
    }

    .events__images--5{
        background-image: url(../images/1024/bc-events-5.jpg);
    }

    .events__content{
        position: relative;
        top: 200px;
        min-height: 483px;
        padding: 14px 10.58px 50px 28.58px;
    }

    .events__little-title{
        padding-left: 7px;
        padding-right: 5PX;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
    }

    .events__content-title{
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 7px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .events__content-text{
        padding-top: 2px;
        padding-right: 11px;
        padding-left: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .events__link{
        position: absolute;
        bottom: 49px;
        left: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }

    .events__link:after{
      margin-top: 1px;
    }

    .events__btn{
        display: block;
        margin: 0 auto;
        margin-top: 47px;
        padding: 17px 35px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: var(--purple);
        background-color: inherit;
        border: 1px solid var(--purple);
        border-radius: 100px;
    }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .swiper-container-event{
    display: none;
  }

  .events{
     margin-top: 124px;
  }

  .events{
    margin-bottom: 80px;
  }

  .events__container{
    max-width: 1920px;
    padding-right: 50px;
    padding-left: 158px;
  }

  .events__subtitle{
    font-size: 48px;
    line-height: 65px;
  }

  .swiper-container__event-desc{
    position: relative;
    width: 1640px;
}

  .events__images{
    position: relative;
    min-height: 700px;
    max-width: 500px;
    margin-top: 15px;
  }

  .events__images--1{
    background-image: url(../images/1920/bc-events-1.jpg);
  }

  .events__images--2{
    background-image: url(../images/1920/bc-events-2.jpg);
  }

  .events__images--3{
    background-image: url(../images/1920/bc-events-3.jpg);
  }

  .events__images--4{
    background-image: url(../images/1920/bc-events-4.jpg);
  }

  .events__images--5{
    background-image: url(../images/1920/bc-events-5.jpg);
  }

  .events__content{
    position: relative;
    top: 300px;
    min-height: 400px;
    padding: 14px 10px 50px 45px;
  }

  .events__little-title{
    padding-left: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
  }

  .events__content-title{
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  .events__content-text{
    padding-top: 2px;
    padding-right: 25px;
    padding-left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .events__link{
    position: absolute;
    bottom: 42px;
    left: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  .events__link:after{
    margin-top: 1px;
  }

  .events__btn{
    position: relative;
    left: -3%;
    display: block;
    margin: 0 auto;
    margin-top: 47px;
    padding: 17px 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--purple);
    background-color: inherit;
    border: 1px solid var(--purple);
    border-radius: 100px;
  }
}
