.galery__container{
    margin: 0 auto;
}

.galery{
    background-repeat: no-repeat;
}

.galery__title{
    font-weight: 400;
    color: var(--white);
}

.galery__text-select{
    color: var(--white);
}

.galery__content{
    font-weight: 700;
    color: var(--white);
}

.galery__content_link{
    color: var(--purple);
}

.galery__images{
  background-repeat: no-repeat;
}

.galery__swiper:focus{
  outline: none;
  border: 2px solid var(--focus-purple);
  background-position: 38% 50%;
}

.galery__swiper:hover{
  background-color: var(--hover-purple);
}

.galery__swiper:active{
  background-color: var(--active-purple);
  border: 2px solid var(--border-hover);
  background-position: 38% 50%;
}

.galery__content_link:focus{
  outline: none;
  border: 2px solid var(--focus-purple);
}

.galery__content_link:after{
  margin-top: 1px;
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--purple);
  transition: width .3s ease-in-out;
}

.galery__content_link:hover:after{
  width: 37%;
}

.galery__content_link:active{
  color: var(--active-purple);
}

.galery__content_link:active:after{
  width: 37%;
  background-color: var(--active-purple);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .swiper-container-galery{
        display: none;
    }

    .galery-container-desc{
      display: none;
    }

    .galery__container{
        max-width: 320px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .galery{
        min-height: 962px;
        margin-top: 40px;
        padding-top: 51px;
        background-image: url(../images/320/bc-galery-320.jpg);
        background-size: 100%;
    }

    .galery__title{
        font-size: 28px;
        line-height: 38px;
    }

    .galery__text-select{
        padding-top: 13px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }

    .galery__images{
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 429px;
        padding-top: 79px;
        background-position: center 0;
    }

    .galery__images--1{
        background-image: url(../images/320/bc-galery-320-1.jpg);
    }

    .galery__images--2{
        background-image: url(../images/320/bc-galery-320-2.jpg);
    }

    .galery__images--3{
        background-image: url(../images/320/bc-galery-320-3.jpg);
    }

    .galery__images--4{
        background-image: url(../images/320/bc-galery-320-4.jpg);
    }

    .galery__images--5{
        background-image: url(../images/320/bc-galery-320-5.jpg);
    }

    .galery__images--6{
        background-image: url(../images/320/bc-galery-320-6.jpg);
    }

    .galery__images--7{
        background-image: url(../images/320/bc-galery-320-7.jpg);
    }

    .galery__images--8{
        background-image: url(../images/320/bc-galery-320-8.jpg);
    }

    .galery__images--9{
        background-image: url(../images/320/bc-galery-320-9.jpg);
    }

    .galery__images--10{
        background-image: url(../images/320/bc-galery-320-10.jpg);
    }

    .galery__images--11{
        background-image: url(../images/320/bc-galery-320-11.jpg);
    }

    .galery__images--12{
        background-image: url(../images/320/bc-galery-320-12.jpg);
    }

    .galery__images--13{
        background-image: url(../images/320/bc-galery-320-13.jpg);
    }

    .galery__images--14{
        background-image: url(../images/320/bc-galery-320-14.jpg);
    }

    .galery__images--15{
        background-image: url(../images/320/bc-galery-320-15.jpg);
    }

    .galery__images--16{
        background-image: url(../images/320/bc-galery-320-16.jpg);
    }

    .galery__images--17{
        background-image: url(../images/320/bc-galery-320-17.jpg);
    }

    .galery__images--18{
        background-image: url(../images/320/bc-galery-320-18.jpg);
    }

    .galery__images--19{
        background-image: url(../images/320/bc-galery-320-19.jpg);
    }

    .galery__images--20{
        background-image: url(../images/320/bc-galery-320-20.jpg);
    }

    .galery__images--21{
        background-image: url(../images/320/bc-galery-320-21.jpg);
    }

    .galery__images--22{
        background-image: url(../images/320/bc-galery-320-22.jpg);
    }

    .galery__images--23{
        background-image: url(../images/320/bc-galery-320-23.jpg);
    }

    .galery__images--24{
        background-image: url(../images/320/bc-galery-320-24.jpg);
    }

    .galery__images--25{
        background-image: url(../images/320/bc-galery-320-25.jpg);
    }

    .galery__images--26{
        background-image: url(../images/320/bc-galery-320-26.jpg);
    }

    .galery__images--27{
        background-image: url(../images/320/bc-galery-320-27.jpg);
    }

    .galery__images--28{
        background-image: url(../images/320/bc-galery-320-28.jpg);
    }

    .galery__images--29{
        background-image: url(../images/320/bc-galery-320-29.jpg);
    }

    .galery__swiper{
        top: 95%;
        display: inline-block;
        height: 30px;
        width: 30px;
        color: var(--white);
        background: #666666;
        border: none;
        border-radius: 50%;
    }

    .galery__swiper-prev{
        left: 80px;
    }

    .galery__swiper-next{
        right: 80px;
    }

    .galery__swiper-prev::after,
    .galery__swiper-next::after{
        content: none;
    }

    .galery__swiper-prev{
        background-position: 10px;
        background-image: url('../icons/320/prev-arr.svg');
        background-repeat: no-repeat;
    }

    .galery__swiper-next{
        background-position: 10px;
        background-image: url('../icons/320/arr-next.svg');
        background-repeat: no-repeat;
    }

    .swiper-pagination-fraction{
        bottom: 10px;
        left: 0;
        width: 100%;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 32px;
        text-align: center;
        color: var(--white);
    }

    .galery__content{
        padding-top: 8px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.4px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .galery-container-desc > .swiper-pagination-fraction,
    .galery-container-desc > .galery__swiper-prev,
    .galery-container-desc > .galery__swiper-next{
      display: none;
    }

    .swiper-container{
        display: none;
      }

    .galery-container-desc{
      display: none;
    }

    .galery{
      min-height: 1169px;
      background-image: url(../images/768/bc-galery-768.jpg);
      background-size: 100%;
  }

    .galery__container{
        max-width: 768px;
        margin: 0 auto;
        padding-top: 80px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .galery__title{
        font-size: 48px;
        line-height: 65px;
    }

    .galery__text-select{
        margin-top: 15px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.6px;
    }

    .choices{
        margin-bottom: 0;
    }

    .choices__inner{
        width: 280px;
        margin-top: 8px;
    }

    .choices[data-type*='select-one']:after{
        top: 43%;
        left: 38%;
    }

    .choices[data-type*='select-one'].is-open:after {
        left: 40%;
      }

      .choices__list--dropdown{
        width: 280px;
        z-index: 2;
      }

    .main__galery > .swiper-container{
        display: none;
    }

    .swiper-container-galery{
        position: relative;
    }

    .swiper-pagination{
        position: absolute;
        display: inline-block;
        height: 30px;
        color: var(--white);
    }

    .swiper-pagination-fraction{
        display: inline-block;
        top: 14%;
        left: -40%;
        font-size: 16px;
        line-height: 32px;
    }

    .galery__swiper{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #666;
        border: none;
        border-radius: 50%;
        background-image: url('../icons/768/arr-galery.svg');
        background-repeat: no-repeat;
        background-position: 40% 50%;
    }

    .swiper-button-next, .swiper-button-prev{
        top: 17%;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0;
        transform: rotate(180deg);
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        left: 15%;
    }

    .galery__images{
        position: relative;
        display: grid;
        grid-template-columns: 317px 317px;
        grid-template-rows: 280px 280px;
        grid-column-gap: 35px;
        grid-row-gap: 36px;
        width: 317px;
        margin-top: 165px;
    }

    .galery__images--1{
        background-image: url('../images/768/bc-galery-768-1.jpg');
    }

    .galery__images--2{
        background-image: url('../images/768/bc-galery-768-2.jpg');
    }

    .galery__images--3{
        background-image: url('../images/768/bc-galery-768-3.jpg');
    }

    .galery__images--4{
        background-image: url('../images/768/bc-galery-768-4.jpg');
    }

    .galery__images--5{
        background-image: url('../images/768/bc-galery-768-5.jpg');
    }

    .galery__images--6{
        background-image: url('../images/768/bc-galery-768-6.jpg');
    }

    .galery__images--7{
        background-image: url('../images/768/bc-galery-768-7.jpg');
    }

    .galery__images--8{
        background-image: url('../images/768/bc-galery-768-8.jpg');
    }
    .galery__images--9{
        background-image: url('../images/768/bc-galery-768-9.jpg');
    }

    .galery__images--10{
        background-image: url('../images/768/bc-galery-768-10.jpg');
    }

    .galery__images--11{
        background-image: url('../images/768/bc-galery-768-11.jpg');
    }

    .galery__images--12{
        background-image: url('../images/768/bc-galery-768-12.jpg');
    }

    .galery__images--13{
        background-image: url('../images/768/bc-galery-768-13.jpg');
    }

    .galery__images--14{
        background-image: url('../images/768/bc-galery-768-14.jpg');
    }

    .galery__images--15{
        background-image: url('../images/768/bc-galery-768-15.jpg');
    }

    .galery__images--16{
        background-image: url('../images/768/bc-galery-768-16.jpg');
    }

    .galery__images--17{
        background-image: url('../images/768/bc-galery-768-17.jpg');
    }

    .galery__images--18{
        background-image: url('../images/768/bc-galery-768-18.jpg');
    }

    .galery__images--19{
        background-image: url('../images/768/bc-galery-768-19.jpg');
    }

    .galery__images--20{
        background-image: url('../images/768/bc-galery-768-20.jpg');
    }

    .galery__images--21{
        background-image: url('../images/768/bc-galery-768-21.jpg');
    }

    .galery__images--22{
        background-image: url('../images/768/bc-galery-768-22.jpg');
    }

    .galery__images--23{
        background-image: url('../images/768/bc-galery-768-23.jpg');
    }

    .galery__images--24{
        background-image: url('../images/768/bc-galery-768-24.jpg');
    }
    .galery__images--25{
        background-image: url('../images/768/bc-galery-768-25.jpg');
    }

    .galery__images--26{
        background-image: url('../images/768/bc-galery-768-26.jpg');
    }

    .galery__images--27{
        background-image: url('../images/768/bc-galery-768-27.jpg');
    }

    .galery__images--27{
        background-image: url('../images/768/bc-galery-768-27.jpg');
    }

    .galery__images--28{
        background-image: url('../images/768/bc-galery-768-28.jpg');
    }

    .galery__images--29{
        background-image: url('../images/768/bc-galery-768-29.jpg');
    }

    .galery__images--30{
        background-image: url('../images/768/bc-galery-768-30.jpg');
    }

    .galery__images--31{
        background-image: url('../images/768/bc-galery-768-11.jpg');
    }

    .galery__images--32{
        background-image: url('../images/768/bc-galery-768-12.jpg');
    }

    .galery__content{
        margin-top: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: var(--white);
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
    .galery-container-desc{
      display: none;
    }

    .swiper-container{
      display: none;
    }

    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
      display: none;
  }

    .galery{
        position: relative;
        max-height: 839px;
        background-image: url(../images/1024/bc-galery-1024.jpg);
        background-size: 100%;
    }

    .galery__container{
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 80px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .galery__title{
        font-size: 48px;
        line-height: 65px;
    }

    .galery__text-select{
        margin-top: 16px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    .choices{
        margin-bottom: 0;
    }

    .choices__inner{
        width: 30%;
    }

    .choices__list--dropdown{
        width: 30%;
    }

    .choices[data-type*='select-one']:after {
        left: 27.5%;
        top: 35%;
    }

    .choices[data-type*='select-one'].is-open:after {
        left: 28.6%;
      }

      .main__galery > .swiper-container{
        display: none;
    }

    .swiper-container-galery{
        position: relative;
        bottom: 81px;
        left: 35.7%;
        width: 593px;
    }

    .swiper-pagination{
        position: absolute;
        display: inline-block;
        height: 30px;
        color: var(--white);
    }

    .swiper-pagination-fraction {
        display: inline-block;
        top: -10%;
        left: -39.2%;
        font-size: 16px;
        line-height: 32px;
    }

    .galery__swiper{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #666;
        border: none;
        border-radius: 50%;
        background-image: url('../icons/768/arr-galery.svg');
        background-repeat: no-repeat;
        background-position: 40% 50%;
    }

    .swiper-button-next, .swiper-button-prev{
        top: -6.7%;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0;
        transform: rotate(180deg);
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        left: 17.3%;
    }

    .galery__images{
        position: relative;
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 280px 280px;
        grid-column-gap: 35px;
        grid-row-gap: 36px;
        width: 317px;
    }

    .galery__images--1{
        background-image: url('../images/1024/bc-galery-1024-1.jpg');
    }

    .galery__images--2{
        background-image: url('../images/1024/bc-galery-1024-2.jpg');
    }

    .galery__images--3{
        background-image: url('../images/1024/bc-galery-1024-3.jpg');
    }

    .galery__images--4{
        background-image: url('../images/1024/bc-galery-1024-4.jpg');
    }

    .galery__images--5{
        background-image: url('../images/1024/bc-galery-1024-5.jpg');
    }

    .galery__images--6{
        background-image: url('../images/1024/bc-galery-1024-6.jpg');
    }

    .galery__images--7{
        background-image: url('../images/1024/bc-galery-1024-7.jpg');
    }

    .galery__images--8{
        background-image: url('../images/1024/bc-galery-1024-8.jpg');
    }
    .galery__images--9{
        background-image: url('../images/1024/bc-galery-1024-9.jpg');
    }

    .galery__images--10{
        background-image: url('../images/1024/bc-galery-1024-10.jpg');
    }

    .galery__images--11{
        background-image: url('../images/1024/bc-galery-1024-11.jpg');
    }

    .galery__images--12{
        background-image: url('../images/1024/bc-galery-1024-12.jpg');
    }

    .galery__images--13{
        background-image: url('../images/1024/bc-galery-1024-13.jpg');
    }

    .galery__images--14{
        background-image: url('../images/1024/bc-galery-1024-14.jpg');
    }

    .galery__images--15{
        background-image: url('../images/1024/bc-galery-1024-15.jpg');
    }

    .galery__images--16{
        background-image: url('../images/1024/bc-galery-1024-16.jpg');
    }

    .galery__images--17{
        background-image: url('../images/1024/bc-galery-1024-17.jpg');
    }

    .galery__images--18{
        background-image: url('../images/1024/bc-galery-1024-18.jpg');
    }

    .galery__images--19{
        background-image: url('../images/1024/bc-galery-1024-19.jpg');
    }

    .galery__images--20{
        background-image: url('../images/1024/bc-galery-1024-20.jpg');
    }

    .galery__images--21{
        background-image: url('../images/1024/bc-galery-1024-21.jpg');
    }

    .galery__images--22{
        background-image: url('../images/1024/bc-galery-1024-22.jpg');
    }

    .galery__images--23{
        background-image: url('../images/1024/bc-galery-1024-23.jpg');
    }

    .galery__images--24{
        background-image: url('../images/1024/bc-galery-1024-24.jpg');
    }
    .galery__images--25{
        background-image: url('../images/1024/bc-galery-1024-25.jpg');
    }

    .galery__images--26{
        background-image: url('../images/1024/bc-galery-1024-26.jpg');
    }

    .galery__images--27{
        background-image: url('../images/1024/bc-galery-1024-27.jpg');
    }

    .galery__images--27{
        background-image: url('../images/1024/bc-galery-1024-27.jpg');
    }

    .galery__images--28{
        background-image: url('../images/1024/bc-galery-1024-28.jpg');
    }

    .galery__images--29{
        background-image: url('../images/1024/bc-galery-1024-29.jpg');
    }

    .galery__images--30{
        background-image: url('../images/1024/bc-galery-1024-30.jpg');
    }

    .galery__images--31{
        background-image: url('../images/1024/bc-galery-1024-11.jpg');
    }

    .galery__images--32{
        background-image: url('../images/1024/bc-galery-1024-12.jpg');
    }

    .galery__content{
        position: relative;
        bottom: 233px;
        width: 285px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .main__galery > .swiper-container{
    display: none;
  }

  .main__galery > .swiper-container-galery{
    display: none;
  }

  .galery__container{
    max-width: 1920px;
    margin: 0 auto;
  }

.galery{
    position: relative;
    height: 995px;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 157px;
    background-image: url(../images/1920/bc-galery-1920.jpg);
  }

  .galery__title{
    font-size: 48px;
    line-height: 65px;
  }

  .galery__text-select{
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
  }

  .choices{
    margin-bottom: 0;
  }

  .choices__inner{
    width: 23.5%;
  }

  .choices__list--dropdown{
    width: 23.5%;
  }

  .choices[data-type*='select-one']:after {
    left: 22%;
    top: 35%;
  }

.choices[data-type*='select-one'].is-open:after {
    left: 22.75%;
  }

  .galery-container-desc{
    position: relative;
    bottom: 83px;
    left: 26.5%;
    width: 1150px;
  }

  .swiper-pagination{
    position: absolute;
    display: inline-block;
    height: 20px;
    color: var(--white);
  }

  .swiper-pagination-fraction {
    display: inline-block;
    top: -59px;
    left: -44.3%;
    font-size: 16px;
    line-height: 32px;
  }

  .galery__swiper{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #666;
    border: none;
    border-radius: 50%;
    background-image: url('../icons/768/arr-galery.svg');
    background-repeat: no-repeat;
    background-position: 40% 50%;
  }

  .swiper-button-next, .swiper-button-prev{
    top: -5%;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0%;
    transform: rotate(180deg);
  }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: 9%;
  }

  .galery__images{
    position: relative;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 350px;
  }

  .galery__images--1{
    background-image: url('../images/1920/bc-galery-1.jpg');
  }

  .galery__images--2{
    background-image: url('../images/1920/bc-galery-2.jpg');
  }

  .galery__images--3{
    background-image: url('../images/1920/bc-galery-3.jpg');
  }

  .galery__images--4{
    background-image: url('../images/1920/bc-galery-4.jpg');
  }

  .galery__images--5{
    background-image: url('../images/1920/bc-galery-5.jpg');
  }

  .galery__images--6{
    background-image: url('../images/1920/bc-galery-6.jpg');
  }

  .galery__images--7{
    background-image: url('../images/1920/bc-galery-7.jpg');
  }

  .galery__images--8{
    background-image: url('../images/1920/bc-galery-8.jpg');
  }

  .galery__images--9{
    background-image: url('../images/1920/bc-galery-9.jpg');
  }

  .galery__images--10{
    background-image: url('../images/1920/bc-galery-10.jpg');
  }

  .galery__images--11{
    background-image: url('../images/1920/bc-galery-11.jpg');
  }

  .galery__images--12{
    background-image: url('../images/1920/bc-galery-12.jpg');
  }

  .galery__images--13{
    background-image: url('../images/1920/bc-galery-13.jpg');
  }

  .galery__images--14{
    background-image: url('../images/1920/bc-galery-14.jpg');
  }

  .galery__images--15{
    background-image: url('../images/1920/bc-galery-15.jpg');
  }

  .galery__images--16{
    background-image: url('../images/1920/bc-galery-16.jpg');
  }

  .galery__images--17{
    background-image: url('../images/1920/bc-galery-17.jpg');
  }

  .galery__images--18{
    background-image: url('../images/1920/bc-galery-18.jpg');
  }

  .galery__images--19{
    background-image: url('../images/1920/bc-galery-19.jpg');
  }

  .galery__images--20{
    background-image: url('../images/1920/bc-galery-20.jpg');
  }

  .galery__images--21{
    background-image: url('../images/1920/bc-galery-22.jpg');
  }

  .galery__images--22{
    background-image: url('../images/1920/bc-galery-22.jpg');
  }

  .galery__images--23{
    background-image: url('../images/1920/bc-galery-23.jpg');
  }

  .galery__images--24{
    background-image: url('../images/1920/bc-galery-24.jpg');
  }

  .galery__images--25{
    background-image: url('../images/1920/bc-galery-25.jpg');
  }

  .galery__images--26{
    background-image: url('../images/1920/bc-galery-26.jpg');
  }

  .galery__images--27{
    background-image: url('../images/1920/bc-galery-27.jpg');
  }

  .galery__images--28{
    background-image: url('../images/1920/bc-galery-28.jpg');
  }

  .galery__images--29{
    background-image: url('../images/1920/bc-galery-29.jpg');
  }

  .galery__images--30{
    background-image: url('../images/1920/bc-galery-30.jpg');
  }

  .galery__content{
    position: relative;
    bottom: 200px;
    width: 350px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
}
