.header{
    position: relative;
    z-index: 4;
    background-color: var(--black);
}

.header__container{
    display: flex;
    justify-content: space-between;
}

.header__burger:focus{
    outline: 2px solid var(--purple);
}

.header__burger > span,
.header__burger::before,
.header__burger::after,
.header__list{
    transition: all 0.3s ease 0s;
}

.header__nav_link{
    color: var(--white);
}

.header__search{
    background-repeat: no-repeat;
    border: none;
    background-color: var(--black);
    transition: .3s;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        max-height: 45px;
    }

  .header__container{
        max-width: 320px;
        margin: 0 auto;
        padding: 15px;
    }

    .header__burger {
        position: relative;
        z-index: 4;
        display: block;
        width: 30px;
        height: 18px;
    }

    .header__burger > span {
        position: absolute;
        width: 15.6px;
        height: 2px;
        top: 8px;
        background-color: #fff;
    }

    .header__burger::before,
    .header__burger::after {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        content: '';
        background-color: #fff;
    }

    .header__burger::before {
        width: 20px;
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
        width: 13px;
    }

    .header__burger.active:before {
        top: 8px;
        transform: rotate(45deg);
    }
    .header__burger.active:after {
        bottom: 8px;
        width: 20px;
        transform: rotate(-45deg);
    }
    .header__burger.active > span {
        transform: scale(0);
    }

    .header__list.active {
        top: 0;
    }

    .header__nav{
        display: contents; /*это работает!*/
    }

    .header__list{
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 50px 0;
        background-image: linear-gradient(5deg, #eeeae9 0%, #777777 50%, #000000 100%);
        overflow: auto;
    }

    .header__nav_link{
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        text-align: center;
    }

    .header__logo{
        padding-right: 13px;
    }

    .header__search{
        width: 16px;
        height: 16px;
        background-image: url(../icons/320/Search-320.svg);
    }

    .header__search:focus{
        margin-left: -1px;
        padding: 9px;
        outline: 2px solid var(--purple);
        background-image: url(../icons/320/search-hover.svg);
        background-position: center;
    }

    .header__search:active{
        background-image: url(../icons/320/search-hover.svg);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1) {
    .header{
        max-height: 100px;
    }

    .header__container{
        max-width: 768px;
        margin: 0 auto;
        padding-top: 36.7px;
        padding-right: 50px;
        padding-bottom: 29px;
        padding-left: 50px;
    }

    .header__burger {
        position: relative;
        z-index: 4;
        display: block;
        width: 36px;
        height: 28px;
    }

    .header__burger > span {
        position: absolute;
        width: 28.2px;
        height: 3.65px;
        top: 12px;
        background-color: #fff;
    }

    .header__burger::before,
    .header__burger::after {
        position: absolute;
        width: 100%;
        height: 3.65px;
        left: 0;
        content: '';
        background-color: #fff;
    }

    .header__burger::before {
        width: 36px;
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
        width: 24px;
    }

    .header__burger.active:before {
        top: 11px;
        transform: rotate(45deg);
    }

    .header__burger.active:after {
        bottom: 12px;
        width: 36px;
        transform: rotate(-45deg);
    }

    .header__burger.active > span {
        transform: scale(0);
    }

    .header__list.active {
        top: 0;
    }

    .header__nav{
        display: contents;
    }

    .header__list{
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 50px 0;
        background-image: linear-gradient(5deg, #eeeae9 0%, #777777 50%, #000000 100%);
        overflow: auto;
    }

    .header__nav_link{
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        text-align: center;
    }

    .header__logo{
        padding-right: 13px;
    }

    .header__logo{
        position: relative;
        bottom: 8px;
    }

    .header__search{
        width: 29.45px;
        height: 28.82px;
        background-image: url(../icons/768/Search-768.svg);
    }

    .header__search:focus{
        padding: 9px;
        outline: 2px solid var(--purple);
        background-image: url(../icons/768/Search-768-hover.svg);
        background-position: center;
    }

    .header__search:active{
        background-image: url(../icons/768/Search-768-hover.svg);
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
    .header{
        max-height: 100px;
    }

    .header__container{
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 36.7px;
        padding-right: 50px;
        padding-bottom: 29px;
        padding-left: 50px;
    }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .header__burger{
    display: none;
  }

  .header__search{
    display: none;
  }
  .header{
    max-height: 100px;
  }

.header__container{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 158px;
    padding-bottom: 29px;
    padding-left: 159px;
  }

  .header__nav{
    flex-basis: 62%;
    padding-top: 9px;
    padding-right: 106px;
  }

  .header__list{
    display: flex;
    justify-content: space-between;
  }

  .header__nav_link{
    font-size: 18px;
  }

  .header__enter{
    position: relative;
    padding-bottom: 6px;
    width: 75px;
    text-align: right;
    font-size: 18px;
    color: var(--white);
    background-color: inherit;
    border: none;
    background-image: url('../icons/1024/enter.svg');
    background-repeat: no-repeat;
    background-position: 0 12px;
  }
}
