.header{
  position: relative;
}

.slidemenu-open{
  overflow: hidden;
}

.header__top{
  padding-top: 30px;
  padding-bottom: 27px;
  background-color: #000;
}

.header__top > .container{
  display: flex;
  justify-content: space-between;
}

.header__top-list{
  display: flex;
  align-self: center;
  padding-bottom: 7px;
}

.header__top-nav{
  display: flex;
  justify-content: space-between;
  flex-basis: 78%;
  align-self: center;
}

.header__top-item:not(:last-child){
  margin-right: 64px;
}

.header__top-link{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__top-link:focus{
  outline: none;
  background-color: var(--focus);
}

.header__top-link:hover{
  color: var(--hover);
}

.header__top-link:active{
  color: var(--active);
  outline: none;
  background-color: inherit;
}

.header__link-enter{
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-image: url(../icons/enter.svg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__link-enter:focus{
  outline: none;
  background-color: var(--focus);
}

.header__link-enter:hover{
  background-image: url(../icons/enter-hover.svg);
  color:var(--hover);
}

.header__link-enter:active{
  background-image: url(../icons/enter-active.svg);
  color:var(--purple);
  outline: none;
  background-color: inherit;
}

.header__bottom{
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 22px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom  .container{
  display: flex;
  justify-content: space-between;
}


.header__bottom-list-btn{
  display: flex;
}

.header__bottom-item-btn{
  position: relative;
}

.header__bottom-item-btn:not(:last-child){
  margin-right: 97px;
}

.header__button{
  padding-right: 15px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-image: url(../icons/header-arr-down.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
  background-color: inherit;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__button_rotate{
  background-image: url(../icons/header-arr-up.svg);
}

.header__button:focus{
  outline: none;
  background-color: var(--focus);
}

.header__button:hover{
  color: var(--second-hover);
  background-image: url(../icons/header-arr-down-hover.svg);
}

.header__button:active{
  color: var(--active);
  /* background-image: url(../icons/header-arr-up.svg); */
  outline: none;
  background-color: inherit;
}

.header__bottom-search-btn{
  width: 22px;
  height: 22px;
  margin-right: 5px;
  vertical-align: sub;
  background-color: inherit;
  border: none;
  background-image: url(../icons/header-search.svg);
  background-repeat: no-repeat;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__bottom-input{
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  caret-color:  var(--hover);
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__bottom-input[type="search"]::placeholder{
  color: var(--white);
}

.header__bottom-input:focus::placeholder {
  color: transparent;
}

.header__bottom-item:hover > .header__bottom-search-btn{
  background-image: url(../icons/header-search-hover.svg);
}

.header__bottom-search-btn:focus{
  outline: none;
}

.header__bottom-input:focus{
  outline: none;
  border-bottom: 1px solid var(--hover);
}

.header__bottom-item:hover > .header__bottom-input{
  border-bottom: 1px solid var(--hover);
}

.header__bottom-input:active{
  outline: none;
  background-color: inherit;
}

.header__dropdown{
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.simplebar-track.simplebar-vertical{
  width: 2px;
  margin-top: 40px;
  margin-right: 19px;
  margin-bottom: 25px;
  background-color: #000;
}

.simplebar-scrollbar:before{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 28px;
  opacity: 1;
  background-color: var(--purple);
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible::before{
  opacity: 1;
}

.header__dropdown-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__dropdown-item{
  display: inline-block;
  margin-bottom: 25px;
}

.header__dropdown-link{
  display: block;
  height: 40px;
  width: 220px;
  padding-top: 10px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.header__dropdown-link:focus,
.header__dropdown-link:hover{
  outline: 2px solid var(--purple);
}

.header__dropdown-link:active{
  outline: 2px solid var(--border-hover);
}

.tinto{
  background-image: url(../images/Тинторетто.jpg);
}

.tinto:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Тинторетто.jpg);
}

.frid{
  background-image: url(../images/Фридрих.jpg);
}

.frid:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Фридрих.jpg);
}

.leo{
  background-image: url(../images/Леонардо.jpg);
}

.leo:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Леонардо.jpg);
}

.verr{
  background-image: url(../images/Веррокью.jpg);
}

.verr:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Веррокью.jpg);
}

.mone{
  background-image: url('../images/Моне.jpg');
}

.sisley{
  background-image: url('../images/Сислей.jpg');
}

.mane{
  background-image: url('../images/Мане.jpg');
}

.renuar{
  background-image: url('../images/Ренуар.jpg');
}

.gog{
  background-image: url('../images/ВанГог.jpg');
}

.sez{
  background-image: url('../images/Сезанн.jpg');
}

.gogen{
  background-image: url('../images/Гоген.jpg');
}

.sera{
  background-image: url('../images/Сера.jpg');
}

.kand{
  background-image: url('../images/Кандински.jpg');
}

.marin{
  background-image: url('../images/Мариннети.jpg');
}

.malevich{
  background-image: url('../images/Малевич.jpg');
}

.picasso{
  background-image: url('../images/Пикассо.jpg');
}

.karra{
  background-image: url('../images/Карра.jpg');
}

.prat{
  background-image: url('../images/Прателла.jpg');
}

.severini{
  background-image: url('../images/Северинни.jpg');
}

.balla{
  background-image: url('../images/Балла.jpg');
}

.header__mob-menu{
  display: none;
}

.header__top-search{
  display: none;
}

@media only screen and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .header__top-nav{
    display: none;
  }

  .header__bottom{
    display: none;
  }

  .header__top-input{
    display: none;
  }

  .header__top{
    padding-bottom: 25px;
  }

  .header__mob-menu{
    position: relative;
    width: 36px;
    height: 28px;
    display: block;
    z-index: 4;
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .header__mob-menu:focus{
    height: 36px;
    background-color: var(--second-hover);
  }

  .header__mob-menu:hover:after,
  .header__mob-menu:hover:before,
  .header__mob-menu:hover span {
    background-color: var(--hover);
  }

  .header__mob-menu:active:after,
  .header__mob-menu:active:before,
  .header__mob-menu:active span {
    background-color: var(--active);
  }

  .header__mob-menu span,
  .header__mob-menu:after,
  .header__mob-menu:before{
    position: absolute;
    left: 0;
    height: 3.65px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    transition-duration: 0.4s;
  }

  .header__mob-menu span{
    top: 19px;
    width: 28px;
  }
  .header__mob-menu:after,
  .header__mob-menu:before{
    content: '';
    transition-duration: 0.4s;
  }

  .header__mob-menu:after{
    top: 31px;
    width: 24px;
  }

  .header__mob-menu:before{
    top: 7px;
  }

  .open-menu span {
    left: 0;
    opacity:0;
    transition-duration: 0.4s;
  }

  .open-menu:before {
    width: 37.28px;
    transform: rotate(45deg);
    top: 8px;
    transition-duration: 0.4s;
  }

  .open-menu:after {
    width: 37.28px;
    transform: rotate(-45deg);
    top: 8px;
    transition-duration: 0.4s;
  }

  .header__top-nav{
    position: absolute;
    display: block;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:1;
    transition-duration: 0.4s;
  }

  .header__top-nav_open{
    position: absolute;
    display: block;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000vh;
    padding-top: 100px;
    padding-left: 50px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    transition-duration: 0.4s;
  }

  .header__top-list {
    position: relative;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .header__top-item{
     margin-bottom: 30px;
  }

  .header__top-link{
    font-weight: 600;
    font-size: 24px;
  }

  .header__link-enter{
    border: 2px solid var(--purple);
    border-radius: 100px;
    padding: 22px 88px;
    background-position: 32% 50%;
  }

  .header__top-search{
    display: flex;
    align-self: flex-end;
    padding-bottom: 10px;
  }
  /* toggle add!!! */
  .header__active-search{
    display: flex;
    align-self: flex-end;
    padding-bottom: 10px;
    background-color: #18171B;
  }

  .header__top-btn{
    width: 30.5px;
    height: 29px;
    background-color: inherit;
    border: none;
    background-image: url(../icons/1024/header-search-1024.svg);
    background-repeat: no-repeat;
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .header__top-btn:focus{
    background-color: var(--focus);
  }

  .header__top-btn:hover{
    background-color: var(--focus);
  }
  .header__top-btn:active{
    background-color: var(--active);
  }

  .header__top-input{
    display: none;
  }
 /* toggle add!!! */
  .header__active-input{
    display: block;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: #fff;
    transition-duration: .3s;
    transition-timing-function: ease;
    caret-color:  var(--hover);
  }

  .header__active-input:focus{
    border-bottom: 1px solid var(--hover);
    outline: none;
  }

  .header__active-input:hover{
    border-bottom: 1px solid var(--hover);
  }

  .header__active-input:active{
    border-bottom: 1px solid var(--active);
  }

  .header__top-search-close{
    display: none;
  }
}

@media only screen and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
  .header__picture-off{
    display: none;
  }

  .header__mob-menu-off{
    display: none;
  }

  .header__active-search{
    background-color: transparent;
    width: 100%;
  }

  .header__active-input{
    width: 100%;
  }

  .header__top-search-close{
    display: none;
  }

  .header__top-search-close-active{
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
  }

  .header__top-search-close-active {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 32px;
    height: 32px;
  }

  .header__top-search-close-active:before,
  .header__top-search-close-active:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }

  .header__top-search-close-active:before {
    transform: rotate(45deg);
  }

  .header__top-search-close-active:after {
    transform: rotate(-45deg);
  }

  .header__mob-off{
    display: none;
  }
}

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
  .header{
    position: absolute;
    width: 100%;
  }

  .header__top{
    padding-top: 12px;
    padding-bottom: 5px;
  }

  .header__mob-menu {
    width: 20px;
}

  .header__mob-menu span,
  .header__mob-menu:after,
  .header__mob-menu:before{
    height: 1.96px;
    width: 100%;
  }

  .header__mob-menu span{
    top: 9.2px;
    width: 15.67px
  }

  .header__mob-menu:after{
    top: 16px;
    width: 13.33px;
  }

  .header__mob-menu:before{
    top: 3px;
  }

  .header__top-btn{
    background-image: url(../icons/320/header-search-360.svg);
  }

  .open-menu:before {
    width: 15px;
    top: 10px;
  }

  .open-menu:after {
    width: 15px;
    top: 10px;
  }

  .header__top-nav_open {
    padding-left: 15px;
  }

  .header__top-btn {
    width: 16px;
    height: 16px;
  }

  .header__top-list{
    margin-bottom: 20px;
  }

  .header__top-link{
    font-size: 16px;
  }

  .header__link-enter{
    padding: 10px 32px;
    font-size: 16px;
    background-size: 11%;
    background-position: 16% 50%;
  }

  .header__active-search{
    padding-top: 60px;
    padding-right: 40px;
    padding-left: 40px;
    backdrop-filter: blur(5px);
  }

  .header__top-search-close-active{
    top: 0;
  }

  .header__top-search-close-active:before, .header__top-search-close-active:after {
    height: 19.28px;
    width: 1.93px;
}

  .header__top-btn{
    width: 18px;
  }

  .header__active-input {
    width: 80%;
  }
}
