.hero__section{
  background-repeat: no-repeat;
}

.hero__main-title,
.hero__content{
  color: var(--white);
}

.hero__link{
  color: var(--white);
  background-color: var(--purple);
  border-radius: 100px;
}

.hero__link:hover{
  padding-top: 22px;
  padding-right: 26px;
  padding-bottom: 24px;
  padding-left: 36px;
  border: 3px solid var(--border-hover);
}

.hero__link:focus{
  padding-top: 25px;
  padding-right: 29px;
  padding-bottom: 26px;
  padding-left: 39px;
  border: none;
  outline: none;
  box-shadow:  0 0 0 2px #fff, 0 0 0 5px var(--hover-purple);
}

.hero__link:active{
  padding-top: 22px;
  padding-right: 26px;
  padding-bottom: 24px;
  padding-left: 36px;
  background-color: var(--active-purple);
  border: 3px solid var(--border-hover);
}

.hero > .swiper-container > .swiper-pagination{
    display: none;
}

.hero__nav{
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
    .main__hero_container{
        /* max-width: 320px; */
        margin: 0 auto;
    }

    .hero__section{
        position: relative;
        top: -45px;
        display: flex;
        flex-direction: column;
        min-height: 355px;
        padding-top: 79px;
        background-size: 100%;
    }

    .hero__section--1{
        background-image: url(../images/320/bc-hero-320-1.jpg);
    }

    .hero__section--2{
        background-image: url(../images/320/bc-hero-320-2.jpg);
    }

    .hero__section--3{
        background-image: url(../images/320/bc-hero-320-3.jpg);
    }

    .hero__main-title{
        padding-left: 20px;
        padding-right: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 1.35px;
        text-align: center;
    }

    .hero__content{
        padding-top: 13px;
        padding-right: 26px;
        padding-left: 29px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        text-align: center;
    }

    .hero__link{
        margin-top: 40px;
        padding-top: 12px;
        padding-right: 19px;
        padding-bottom: 14.45px;
        padding-left: 22px;
        align-self: center;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }

    .hero__link:focus{
        padding-top: 9px;
        padding-right: 16px;
        padding-bottom: 11.45px;
        padding-left: 19px;
        border: 3px solid #7943A4;
        border-radius: 100px;
    }

    .hero__link:active{
        padding-top: 9px;
        padding-right: 16px;
        padding-bottom: 11.45px;
        padding-left: 19px;
        background-color: #7943A4;
        border: 3px solid #D1A9F0;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }

    .hero > .swiper-container > .swiper-pagination-fraction{
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
    .main__hero_container{
        max-width: 768px;
        max-height: 669px;
        margin: 0 auto;
    }

    .hero > .swiper-container{
        max-height: 669px;
    }

    .hero__section{
        position: relative;
        top: -100px;
        display: flex;
        flex-direction: column;
        min-height: 768px;
        padding-top: 207px;
        padding-right: 58px;
        padding-left: 46px;
    }

    .hero__section--1{
        background-image: url(../images/768/bc-hero-768-1.jpg);
    }

    .hero__section--2{
        background-image: url(../images/768/bc-hero-768-2.jpg);
    }

    .hero__section--3{
        background-image: url(../images/768/bc-hero-768-3.jpg);
    }

    .hero__main-title{
        padding-right: 76px;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 90px;
        letter-spacing: 2px;
    }

    .hero__content{
        padding-top: 4px;
        padding-left: 4px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    .hero__link{
        max-width: 320px;
        margin-top: 135px;
        padding-top: 22px;
        padding-right: 29px;
        padding-bottom: 22px;
        padding-left: 39px;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.1px;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
        display: none;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: none;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
    .main__hero_container{
        max-width: 1024px;
        margin: 0 auto;
    }

    .hero > .swiper-container{
        max-height: 668px;
    }

    .hero__section{
        padding-right: 235px;
    }

    .hero__section--1{
        background-image: url(../images/1024/bc-hero-1024-1.jpg);
    }

    .hero__section--2{
        background-image: url(../images/1024/bc-hero-1024-2.jpg);
    }

    .hero__section--3{
        background-image: url(../images/1024/bc-hero-1024-3.jpg);
    }

    .hero__main-title{
        padding-top: 10px;
        padding-right: 142px;
        line-height: 83px;
        letter-spacing: 3px;
    }

    .hero__content{
        padding-top: 9px;
        letter-spacing: 0.7px;
    }

    .hero__link{
        max-width: 322px;
        margin-top: 135px;
        padding-top: 24px;
        padding-right: 29px;
        padding-bottom: 26px;
        padding-left: 39px;
        font-weight: bold;
        letter-spacing: 1.6px;
        font-size: 16px;
    }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    display: none;
  }

  .main__hero_container{
    max-width: 1920px;
    margin: 0 auto;
    height: 700px;
  }

  .hero > .swiper-container{
    height: 800px;
  }

  .hero__section{
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    min-height: 768px;
    padding-top: 240px;
    padding-right: 58px;
    padding-left: 155px;
}

.hero__section--1{
    background-image: url(../images/1920/bc-hero-1920-1.jpg);
  }

.hero__section--2{
    background-image: url(../images/1920/bc-hero-1920-2.jpg);
  }

.hero__section--3{
    background-image: url(../images/1920/bc-hero-1920-3.jpg);
  }

  .hero__main-title{
    position: relative;
    bottom: 1%;
    width: 597px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
  }

  .hero__content{
    width: 587px;
    padding-top: 2px;
    padding-left: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  .hero__link{
    max-width: 322px;
    margin-top: 94px;
    padding-top: 25px;
    padding-right: 29px;
    padding-bottom: 26px;
    padding-left: 39px;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 16px;
  }
}
