.projects__title,
.projects__content,
.projects__subtitle{
    color: var(--dark-gray);
}

.projects__btn,
.swiper__projects_btn{
    color: var(--white);
}

.projects__content_link{
    font-weight: 600;
    color: var(--purple);
}

.swiper__slide-content{
    border: 1px solid var(--gray);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper__projects_btn{
    top: 65%;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #ececec;
    border: none;
    border-radius: 50%;
}

.swiper__projects_btn{
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-position:  center;
}

.projects__btn-prev{
    background-image: url('../icons/320/arr-projects-left.svg');
}

.projects__btn-next{
    background-image: url('../icons/320/arr-projects-right.svg');
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1){
    .projects__container{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .projects{
        padding-right: 15px;
        padding-bottom: 18px;
        padding-left: 15px;
    }

    .projects__title{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .projects__content{
        padding-top: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .projects__btn{
        width: 16px;
        height: 16px;
        background-color: inherit;
        background-image: url(../icons/320/tootype-320.svg);
        background-repeat: no-repeat;
        border: none;
        outline: none;
    }

    .projects__subtitle{
        padding-top: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
    }

    .projects__swiper{
        position: relative;
        margin-top: 10px;
    }

    .projects__slide-container{
        padding-right: 50px;
        padding-left: 50px;
    }

    .swiper__slide-content{
        height: 65px;
        width: 195px;
    }

    .projects__slide--1{
        background-image: url('../images/320/proj-partners-1.jpg');
    }

    .projects__slide--2{
        background-image: url('../images/320/proj-partners-2.jpg');
    }

    .projects__slide--3{
        background-image: url('../images/320/proj-partners-3.jpg');
    }

    .projects__slide--4{
        background-image: url('../images/320/proj-partners-4.jpg');
    }

    .projects__slide--5{
        background-image: url('../images/320/proj-partners-5.jpg');
    }

    .projects__slide--6{
        background-image: url('../images/320/proj-partners-6.jpg');
    }

    .projects__slide--7{
        background-image: url('../images/320/proj-partners-7.jpg');
    }

    .projects__slide--8{
        background-image: url('../images/320/proj-partners-8.jpg');
    }

    .projects__slide--9{
        background-image: url('../images/320/proj-partners-9.jpg');
    }

    .projects__slide--1:hover{
        background-image: url('../images/320/proj-partners-focus-1.jpg');
        background-size: 50%;
    }

    .projects__slide--2:hover{
        background-image: url('../images/320/proj-partners-focus-2.jpg');
        background-size: 70%;
    }

    .projects__slide--3:hover{
        background-image: url('../images/320/proj-partners-focus-3.jpg');
        background-size: 60%;
    }

    .projects__slide--4:hover{
        background-image: url('../images/320/proj-partners-focus-4.jpg');
        background-size: 30%;
    }

    .projects__slide--5:hover{
        background-image: url('../images/320/proj-partners-focus-5.jpg');
        background-size: 40%;
    }

    .projects__slide--6:hover{
        background-image: url('../images/320/proj-partners-focus-6.jpg');
        background-size: 60%;
    }

    .projects__slide--7:hover{
        background-image: url('../images/320/proj-partners-focus-7.jpg');
        background-size: 60%;
    }

    .projects__slide--8:hover{
        background-image: url('../images/320/proj-partners-focus-8.jpg');
        background-size: 40%;
    }

    .projects__slide--9:hover{
        background-image: url('../images/320/proj-partners-focus-9.jpg');
        background-size: 55%;
    }

    .swiper__projects_btn{
        bottom: 48px;
    }

    .projects__btn-next{
        left: 225px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1){
    .projects{
      margin-top: 80px;
    }

    .projects__container{
        max-width: 768px;
        margin: 0 auto;
        padding-right: 57px;
        padding-left: 46px;
    }

    .projects__title{
        font-weight: 400;
        font-size: 48px;
        line-height: 65px;
    }

    .projects__content{
        padding-top: 16px;
        padding-left: 2px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .projects__btn{
        width: 16px;
        height: 16px;
        background-image: url(../icons/320/tootype-320.svg);
        background-repeat: no-repeat;
        border: none;
        outline: none;
    }

    .projects__content_link{
        display: inline-block;
    }

    .projects__subtitle{
        padding-top: 25px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    .projects__swiper{
      position: relative;
      left: 8.5%;
      width: 562px;
      margin-top: 30px;
    }

    .projects__slide-container{
      max-width: 264px;
    }

    .swiper__slide-content{
        height: 106px;
        width: 264px;
    }

    .projects__slide--1{
        background-image: url('../images/768/proj-partners-1.jpg');
    }

    .projects__slide--2{
        background-image: url('../images/768/proj-partners-2.jpg');
    }

    .projects__slide--3{
        background-image: url('../images/768/proj-partners-3.jpg');
    }

    .projects__slide--4{
        background-image: url('../images/768/proj-partners-4.jpg');
    }

    .projects__slide--5{
        background-image: url('../images/768/proj-partners-5.jpg');
    }

    .projects__slide--6{
        background-image: url('../images/768/proj-partners-6.jpg');
    }

    .projects__slide--7{
        background-image: url('../images/768/proj-partners-7.jpg');
    }

    .projects__slide--8{
        background-image: url('../images/768/proj-partners-8.jpg');
    }

    .projects__slide--9{
        background-image: url('../images/768/proj-partners-9.jpg');
    }

    .projects__slide--1:hover{
        background-image: url('../images/320/proj-partners-focus-1.jpg');
        background-size: 80%;
    }

    .projects__slide--2:hover{
        background-image: url('../images/320/proj-partners-focus-2.jpg');
        background-size: 82%;
    }

    .projects__slide--3:hover{
        background-image: url('../images/320/proj-partners-focus-3.jpg');
        background-size: 77%;
    }

    .projects__slide--4:hover{
        background-image: url('../images/320/proj-partners-focus-4.jpg');
        background-size: 47%;
    }

    .projects__slide--5:hover{
        background-image: url('../images/320/proj-partners-focus-5.jpg');
        background-size: 57%;
    }

    .projects__slide--6:hover{
        background-image: url('../images/320/proj-partners-focus-6.jpg');
        background-size: 77%;
    }

    .projects__slide--7:hover{
        background-image: url('../images/320/proj-partners-focus-7.jpg');
        background-size: 77%;
    }

    .projects__slide--8:hover{
        background-image: url('../images/320/proj-partners-focus-8.jpg');
        background-size: 57%;
    }

    .projects__slide--9:hover{
        background-image: url('../images/320/proj-partners-focus-9.jpg');
        background-size: 72%;
    }

    .swiper__projects_btn{
        bottom: 67px;
    }

    .projects__btn-prev{
      left: -9.3%;
    }

    .projects__btn-next{
      left: 98%;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1){
  .projects{
      margin-top: 80px;
  }

  .projects__container{
      max-width: 1024px;
      margin: 0 auto;
      padding-right: 50px;
      padding-left: 46px;
  }

  .projects__title{
      font-weight: 400;
      font-size: 48px;
      line-height: 65px;
  }

  .projects__content{
      padding-top: 16px;
      padding-left: 2px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
  }

  .projects__btn{
      width: 16px;
      height: 16px;
      background-image: url(../icons/320/tootype-320.svg);
      background-repeat: no-repeat;
      background-color: inherit;
      border: none;
      outline: none;
  }

  .projects__subtitle{
      padding-top: 21px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
  }

  .projects__swiper{
      position: relative;
      left: 6%;
      max-width: 818px;
      margin-top: 20px;
  }

  .projects__slide-container{
      max-width: 384px;
  }

  .swiper__slide-content{
      height: 128px;
      width: 384px;
  }

  .swiper__projects_btn{
      bottom: 80px;
  }

  .projects__btn-prev{
      left: -6.2%;
  }

  .projects__btn-next{
      left: 98.7%;
    }

  .projects__slide--1{
    background-image: url('../images/1024/proj-partners-1.jpg');
  }

.projects__slide--2{
    background-image: url('../images/1024/proj-partners-2.jpg');
  }

.projects__slide--3{
    background-image: url('../images/1024/proj-partners-3.jpg');
  }

.projects__slide--4{
    background-image: url('../images/1024/proj-partners-4.jpg');
  }

.projects__slide--5{
    background-image: url('../images/1024/proj-partners-5.jpg');
  }

.projects__slide--6{
    background-image: url('../images/1024/proj-partners-6.jpg');
  }

.projects__slide--7{
    background-image: url('../images/1024/proj-partners-7.jpg');
  }

.projects__slide--8{
    background-image: url('../images/1024/proj-partners-8.jpg');
  }

.projects__slide--9{
    background-image: url('../images/1024/proj-partners-9.jpg');
  }

.projects__slide--1:hover{
    background-image: url('../images/320/proj-partners-focus-1.jpg');
  }

.projects__slide--2:hover{
    background-image: url('../images/320/proj-partners-focus-2.jpg');
  }

.projects__slide--3:hover{
    background-image: url('../images/320/proj-partners-focus-3.jpg');
  }

.projects__slide--4:hover{
    background-image: url('../images/320/proj-partners-focus-4.jpg');
  }

.projects__slide--5:hover{
    background-image: url('../images/320/proj-partners-focus-5.jpg');
  }

.projects__slide--6:hover{
    background-image: url('../images/320/proj-partners-focus-6.jpg');
  }

.projects__slide--7:hover{
    background-image: url('../images/320/proj-partners-focus-7.jpg');
  }

.projects__slide--8:hover{
    background-image: url('../images/320/proj-partners-focus-8.jpg');
  }

.projects__slide--9:hover{
    background-image: url('../images/320/proj-partners-focus-9.jpg');
  }
}

@media only screen and (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1){
  .projects{
    margin-top: 81px;
  }


  .projects__container{
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 159px;
  }

  .projects__title{
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
  }

  .projects__content{
    width: 1080px;
    padding-top: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .projects__btn{
    width: 16px;
    height: 16px;
    background-image: url(../icons/320/tootype-320.svg);
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    outline: none;
  }

  .projects__subtitle{
    padding-top: 21px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .projects__swiper{
    position: relative;
    left: 4.5%;
    max-width: 1450px;
    margin-top: 20px;
  }

  .projects__slide-container{
    max-width: 450px;
  }

  .swiper__slide-content{
    height: 150px;
    width: 450px;
}

  .swiper__projects_btn{
    bottom: 88px;
  }

  .projects__btn-prev{
      left: -5.2%;
  }

  .projects__btn-next{
      left: 100.7%;
  }

  .projects__slide--1{
    background-image: url('../images/1920/proj-partners-1.jpg');
    background-size: 55%;
  }

.projects__slide--2{
    background-image: url('../images/1920/proj-partners-2.jpg');
  }

.projects__slide--3{
    background-image: url('../images/1920/proj-partners-3.jpg');
  }

.projects__slide--4{
    background-image: url('../images/1920/proj-partners-4.jpg');
  }

.projects__slide--5{
    background-image: url('../images/1920/proj-partners-5.jpg');
  }

.projects__slide--6{
    background-image: url('../images/1920/proj-partners-6.jpg');
  }

.projects__slide--7{
    background-image: url('../images/1920/proj-partners-7.jpg');
  }

.projects__slide--8{
    background-image: url('../images/1920/proj-partners-8.jpg');
  }

.projects__slide--9{
    background-image: url('../images/1920/proj-partners-9.jpg');
  }

  .projects__slide--1:hover{
    background-image: url('../images/320/proj-partners-focus-1.jpg');
    background-size: 55%;
  }

.projects__slide--2:hover{
    background-image: url('../images/320/proj-partners-focus-2.jpg');
    background-size: 73%;
  }

.projects__slide--3:hover{
    background-image: url('../images/320/proj-partners-focus-3.jpg');
    background-size: 60%;
  }

.projects__slide--4:hover{
    background-image: url('../images/320/proj-partners-focus-4.jpg');
    background-size: 27%;
  }

.projects__slide--5:hover{
    background-image: url('../images/320/proj-partners-focus-5.jpg');
    background-size: 39%;
  }

.projects__slide--6:hover{
    background-image: url('../images/320/proj-partners-focus-6.jpg');
    background-size: 57%;
  }

.projects__slide--7:hover{
    background-image: url('../images/320/proj-partners-focus-7.jpg');
    background-size: 65%;
  }

.projects__slide--8:hover{
    background-image: url('../images/320/proj-partners-focus-8.jpg');
    background-size: 41%;
  }

.projects__slide--9:hover{
    background-image: url('../images/320/proj-partners-focus-9.jpg');
    background-size: 52%;
  }
}
