@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2"),
       url("../fonts/OpenSans-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2"),
       url("../fonts/OpenSans-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff"),
       url("../fonts/OpenSans-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --dark-gray: #333;
  --gray: #CACACA;
  --space-gray: #999;
  --hover: #C283F3;
  --second-hover: #9D5CD0;
  --purple: #9D5CD0;
  --active: #7943A4;
  --focus: #7943A4;
  --border-hover: #D1A9F0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html,body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h1,
h2,
p{
    margin: 0;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container{
  max-width: 1642px;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  position: relative;
}

.slidemenu-open{
  overflow: hidden;
}

.header__top{
  padding-top: 30px;
  padding-bottom: 27px;
  background-color: #000;
}

.header__top > .container{
  display: flex;
  justify-content: space-between;
}

.header__top-list{
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  padding-bottom: 7px;
}

.header__link:focus{
  outline: 2px solid var(--focus);
}

.header__top-nav{
  display: flex;
  justify-content: space-between;
  flex-basis: 78%;
  align-self: center;
}

.header__top-item:not(:last-child){
  margin-right: 64px;
}

.header__top-link{
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__top-link:after{
  content: "";
  position: absolute;
  left: -6px;
  top: -3px;
  z-index: -1;
  width: calc(100% + 12px);
  height: calc(100% + 6px);
  background-color: var(--focus);
  transform: scaleX(0);
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__top-link:focus:after {
  transform: scaleX(1);
}

.header__top-link:focus {
  outline: none;
}

.header__top-link:hover{
  color: var(--hover);
}

.header__top-link:active{
  color: var(--active);
  outline: none;
  background-color: inherit;
}

.header__top-link:active::after{
  display: none;
}

.header__link-enter{
  position: relative;
  z-index: 2;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-image: url(../icons/enter.svg);
  background-repeat: no-repeat;
  background-position: 0% 30%;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__link-enter:after{
  content: "";
  position: absolute;
  left: -6px;
  top: -3px;
  z-index: -1;
  width: calc(100% + 12px);
  height: calc(100% + 8px);
  background-color: var(--focus);
  transform: scaleX(0);
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__link-enter:focus:after {
  background-image: url(../icons/enter.svg);
  background-repeat: no-repeat;
  background-position: 10% 37%;
  transform: scaleX(1);
}

.header__link-enter:focus{
  outline: none;
}

.header__link-enter:hover{
  background-image: url(../icons/enter-hover.svg);
  color:var(--hover);
}

.header__link-enter:active{
  background-image: url(../icons/enter-active.svg);
  color:var(--purple);
  outline: none;
  background-color: inherit;
}

.header__bottom{
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 22px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom  .container{
  display: flex;
  justify-content: space-between;
}

.header__bottom-list-btn{
  display: flex;
}

.header__bottom-item-btn{
  position: relative;
}

.header__bottom-item-btn:not(:last-child){
  margin-right: 97px;
}

.header__button{
  display: flex;
  z-index: 2;
  padding-right: 15px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  outline: none;
  background-color: transparent;
  background-image: url(../icons/header-arr-down.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
  background-color: transparent;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__button_rotate{
  background-image: url(../icons/header-arr-up.svg);
}

.header__button:after{
  content: "";
  position: absolute;
  top: -10%;
  left: -6px;
  z-index: -1;
  display: inline-block;
  width: calc(100% + 12px);
  height: calc(100% + 6px);
  outline: none;
  background-color: var(--focus);
  background-position: 97% 50%;
  transform: scaleX(0);
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__button:focus{
  outline: none;
}

.header__button:focus:after{
  transform: scaleX(1);
}

.header__button:hover{
  color: var(--second-hover);
  background-image: url(../icons/header-arr-down-hover.svg);
}

.header__button:active:not(:focus){
  color: var(--active);
  background-image: url(../icons/header-arr-up.svg);
  outline: none;
  background-color: none;
}

.header__button.is-active:not(:focus){
  color: var(--active);
  background-image: url(../icons/header-arr-up.svg);
  outline: none;
  background-color: transparent;
}

.header__bottom-search-btn{
  width: 22px;
  height: 22px;
  margin-right: 5px;
  vertical-align: sub;
  background-color: inherit;
  border: none;
  background-image: url(../icons/header-search.svg);
  background-repeat: no-repeat;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__bottom-input{
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  caret-color:  var(--hover);
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__bottom-input[type="search"]::placeholder{
  color: var(--white);
}

.header__bottom-input:focus::placeholder {
  color: transparent;
}

.header__bottom-item:hover > .header__bottom-search-btn{
  background-image: url(../icons/header-search-hover.svg);
}

.header__bottom-search-btn:focus{
  outline: none;
  background-image: url(../icons/header-search-hover.svg);
}

.header__bottom-input:focus{
  outline: none;
  border-bottom: 1px solid var(--hover);
}

.header__bottom-item:hover > .header__bottom-input{
  border-bottom: 1px solid var(--hover);
}

.header__bottom-input:active{
  outline: none;
  background-color: inherit;
}

.simplebar-track.simplebar-vertical{
  width: 2px;
  margin-top: 40px;
  margin-right: 19px;
  margin-bottom: 25px;
  background-color: #000;
}

.simplebar-scrollbar:before{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 28px;
  opacity: 1;
  background-color: #fff;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible::before{
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header__dropdown-list{
  position: absolute;
  display: none;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__dropdown-list.is-active {
  display: flex;
  animation-name: dropdownOpen;
  animation-duration: .4s;
}

.header__dropdown-list.is-disabled {
  display: flex;
  animation-name: dropdownClose;
  animation-duration: .4s;
}

.header__dropdown-item{
  display: inline-block;
  margin-bottom: 25px;
}

.header__dropdown-link{
  display: block;
  height: 40px;
  width: 220px;
  padding-top: 10px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.header__dropdown-link:focus,
.header__dropdown-link:hover{
  outline: 2px solid var(--purple);
}

.header__dropdown-link:active{
  outline: 2px solid var(--border-hover);
}

.tinto{
  background-image: url(../images/Тинторетто.jpg);
}

.tinto:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Тинторетто.jpg);
}

.frid{
  background-image: url(../images/Фридрих.jpg);
}

.frid:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Фридрих.jpg);
}

.leo{
  background-image: url(../images/Леонардо.jpg);
}

.leo:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Леонардо.jpg);
}

.verr{
  background-image: url(../images/Веррокью.jpg);
}

.verr:active{
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../images/Веррокью.jpg);
}

.mone{
  background-image: url('../images/Моне.jpg');
}

.sisley{
  background-image: url('../images/Сислей.jpg');
}

.mane{
  background-image: url('../images/Мане.jpg');
}

.renuar{
  background-image: url('../images/Ренуар.jpg');
}

.gog{
  background-image: url('../images/ВанГог.jpg');
}

.sez{
  background-image: url('../images/Сезанн.jpg');
}

.gogen{
  background-image: url('../images/Гоген.jpg');
}

.sera{
  background-image: url('../images/Сера.jpg');
}

.kand{
  background-image: url('../images/Кандински.jpg');
}

.marin{
  background-image: url('../images/Мариннети.jpg');
}

.malevich{
  background-image: url('../images/Малевич.jpg');
}

.picasso{
  background-image: url('../images/Пикассо.jpg');
}

.karra{
  background-image: url('../images/Карра.jpg');
}

.prat{
  background-image: url('../images/Прателла.jpg');
}

.severini{
  background-image: url('../images/Северинни.jpg');
}

.balla{
  background-image: url('../images/Балла.jpg');
}

.header__mob-menu{
  display: none;
}

.header__top-search{
  display: none;
}

.hero{
  position: relative;
  overflow: hidden;
}

.hero__banner-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes heroImg {
  0%{
    transform: scaleX(1);
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    transform: scaleX(1);
  }
}

.hero__slide{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  animation: heroImg 10s infinite ease-in-out;
}

.hero__slide_1{
  background-image:url(../images/1920/bc-hero-1920-1.jpg);
}

.hero__slide_2{
  background-image:url(../images/1920/bc-hero-1920-2.jpg);
}

.hero__slide_3{
  background-image:url(../images/1920/bc-hero-1920-3.jpg);
}

.hero > .container{
  position: relative;
  z-index: 2;
  padding-top: 140px;
  padding-bottom: 125px;
}

.hero__title{
  margin-bottom: 20px;
  width: 597px;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
}

.hero__text{
  width: 579px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}

.hero__link{
  position: relative;
  display: inline-block;
  margin-top: 96px;
  padding: 22.5px 35px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: var(--purple);
  border-radius: 100px;
}

.hero__link:focus{
  outline: none;
}

.hero__link:before{
  position: absolute;
  content: '';
  outline: none;
}

.hero__link:focus:before{
  position: absolute;
  top: -8%;
  left: -1%;
  height: 75px;
  width: 320px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.hero__link:hover{
  padding: 19.5px 32px;
  border: 3px solid #D1A9F0;
}

.hero__link:hover::before{
  display: none;
}

.hero__link:active{
  padding: 19.5px 32px;
  background-color: var(--active);
  border: 3px solid #D1A9F0;
}

.about-us{
  padding-top: 80px;
  padding-bottom: 72px;
}

.about-us__title{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333;
}

.about-us__text{
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.galery{
  padding-top: 80px;
  padding-bottom: 70px;
  height: auto;
  background-image: url(../images/1920/bc-galery-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.galery .container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.galery__content{
  width: calc(400 / 1600 * 100%);
}

.galery__title{
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}

.galery__filter{
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.galery__select{
  color: #fff;
  background-color:transparent;
  border: 1px solid #fff;
  border-radius: 6px;
}

.choices__list--single{
  transition-duration: .3s;
  transition-timing-function: ease;
}

.choices__list--single:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item {
  border: 1px solid #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.galery__text-container{
  position: relative;
  width: calc(400 / 1600 * 100%);
  padding-top: 7px;
}

.galery__text-position{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.galery__text{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.galery__link{
  color: var(--purple);
}

.galery__swiper{
  position: relative;
  width: calc(1155 / 1600 * 100%);
  margin-left: auto;
  flex-shrink: 0;
  padding-top: 82px;
  overflow: hidden;
}

.galery__swiper > .swiper-wrapper{
  padding-right: 2px;
  padding-left: 2px;
}

.galery__slide {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  /* width: 350px; */
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.galery__slide:focus{
  outline: 3px solid #7943A4;
}

.galery__slide:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 20px;
  border: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-image: url(../icons/galery-hover.svg);
  background-size: 25%;
  background-position: center;
  background-clip: content-box;
  content: '';
  opacity: 0;
  transition: all 0.3s linear;
 }

 .galery__slide:hover:after {
  opacity: 1;
 }

 .galery__slide:before {
  top: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--hover-purple);
  content: '';
  opacity: 0;
  z-index: 1;
  transition: all 0.3s linear;
  padding-top: 100%;
 }

 .galery__slide:active::before{
   opacity: 1;
 }

 .galery__slide:active:after {
  opacity: 1;
  border-color: var(--border-hover);
 }

 .galery__img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

.galery__swiper > .swiper-button-next:after{
  content: '';
}

.galery__swiper > .swiper-button-prev:after{
  content: '';
}

.galery__swiper > .swiper-button-next{
  top: 5.5%;
  left: 9.3%;
  width: 30px;
  height: 30px;
  background-color: #666;
  border: none;
  border-radius: 50%;
  background-image: url(../icons/arr-galery.svg);
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

.galery__swiper > .swiper-button-prev{
  top: 5.5%;
  left: 0.5%;
  width: 30px;
  height: 30px;
  background-color: #666;
  border: none;
  border-radius: 50%;
  background-image: url(../icons/arr-galery.svg);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  transform: rotate(180deg);
}

.galery__swiper > .swiper-pagination{
  top: 3.5%;
  left: -44%;
  z-index: 0;
  color: #fff;
}

.galery__swiper > .swiper-button-next:focus{
  outline: none;
  transform: scale(1.1);
  border: 2px solid #000;
  border-radius: 100px;
}

.galery__swiper > .swiper-button-next:hover{
  background-color: var(--second-hover);
}

.galery__swiper > .swiper-button-next:active{
  transform: scale(1.1);
  border: 2px solid #000;
  border-radius: 100px;
  background-color: var(--second-hover);
}

.galery__swiper > .swiper-button-prev:focus{
  outline: none;
  transform: scale(1.1);
  border: 2px solid #000;
  border-radius: 100px;
  transform: rotate(180deg);
}

.galery__swiper > .swiper-button-prev:hover{
  background-color: var(--second-hover);
}

.galery__swiper > .swiper-button-prev:active{
  transform: scale(1.1);
  border: 2px solid #000;
  border-radius: 100px;
  background-color: var(--second-hover);
  transform: rotate(180deg);
}

.choices__list--dropdown .is-selected{
  display: none;
}

.catalog{
  padding-top: 80px;
}

.catalog__top{
  display: flex;
  margin-bottom: 16px;
}

.catalog__title{
  margin-right: 40px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.catalog__list-lang{
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

.catalog__item-lang:not(:last-child){
  margin-right: 50px;
}

.catalog__btn-lang{
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.catalog__btn-lang:focus{
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
  outline: transparent;
}

.catalog__btn-lang:hover{
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.catalog__btn-lang:active{
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  box-shadow: 0 0 0 6px #fff, 0 0 0 8px #7943A4;
  background-size: cover;
  background-position: center;
  border: 2px solid #7943A4;
  border-radius: 23px;
}

.france{
  background-image: url(../icons/france.svg);
}

.germany{
  background-image: url(../icons/germany.svg);
}

.italy{
  background-image: url(../icons/italy.svg);
}

.russia{
  background-image: url(../icons/russia.svg);
}

.belgium{
  background-image: url(../icons/bellgium.svg);
}

.catalog__content{
  max-width: 1080px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalog__flex-container{
  display: flex;
}

.catalog__artist{
  flex-basis: 50%;
}

.catalog__pic{
  display: inline-block;
  margin-bottom: 27px;
}

.catalog__subtitle{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__date{
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--space-gray);
}

.catalog__desctiption-text{
  padding-right: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalog__accordion{
  flex-basis: 50%;
  max-width: 800px;
}

.ui-accordion-header-icon{
  display: none;
}

.ui-accordion .ui-accordion-header{
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 40px;
}

.catalog__accordion-subtitle{
  background-color: transparent;
  outline: none;
  border: none;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  background-image: url(../icons/artist-arr-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.catalog__accordion-subtitle:focus{
  background-image: url(../icons/artist-arr-down-focus.svg);
}

.catalog__accordion-subtitle:hover{
  border-top: 1px solid var(--second-hover);
  border-bottom: 1px solid var(--second-hover);
  background-image: url(../icons/artist-arr-down-focus.svg);
}

.catalog__accordion-subtitle:hover > .catalog__subtitle-span{
  color: var(--second-hover);
}

.catalog__accordion-subtitle:active {
  border-top: 1px solid var(--active);
  border-bottom: 1px solid var(--active);
  background-image: url(../icons/artist-arr-down-active.svg);
}

.catalog__accordion-subtitle:active:not(:focus) > .catalog__subtitle-span {
  color: var(--active);
}

.catalog__accordion-subtitle:focus > .catalog__subtitle-span{
  color: #fff;
}

.catalog__subtitle-span{
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
  transition-duration: .3s;
  transform-origin: left;
  transition-timing-function: ease;
}

.catalog__subtitle-span:after{
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 6px);
  background-color: var(--purple);
  transform: scaleX(0);
  transition-duration: .3s;
  transform-origin: left;
  transition-timing-function: ease;
}

.catalog__accordion-subtitle:focus > .catalog__subtitle-span:after {
  transform: scaleX(1);
}

.catalog__accordion-subtitle:focus > .catalog__subtitle-span{
  color: #fff;
}

.ui-accordion .ui-accordion-content{
  padding: 0;
  padding-top: 25px;
}

.catalog__accordion-description{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 338px;
  max-width: 738px;
  border: none;
}

.catalog__accordion-btn{
  position: relative;
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
  transition-duration: .3s;
  transition-timing-function: ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog__accordion-btn:after{
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  z-index: -1;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-color: var(--purple);
  transform: scaleX(0);
  transition-duration: .3s;
  transform-origin: left;
  transition-timing-function: ease;
}

.catalog__accordion-btn:focus{
  color: #fff;
  z-index: 2;
}

.catalog__accordion-btn:focus:after{
  transform: scaleX(1);
  z-index: 1;
}
