@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
    .header{
      max-height: 45px;
      background-color: #000;
    }
  
  .header__container{
        max-width: 767px;
        margin: 0 auto;
        padding: 0 15px;
    }
}