/* Open Sans Regular */
@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local("Open Sans"),
         url("../fonts/OpenSans-Regular.woff") format("woff");
}

/* Open Sans Bold */
@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans"),
         url("../fonts/OpenSans-Bold.woff") format("woff");
}

/* Open Sans Bold */
@font-face {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans"),
         url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

h1,
h2,
p{
    margin: 0;
}

.header__burger{
    cursor: pointer;
}