:root {
    --white: #fff;
    --black: #000;
    --purple: #9D5CD0;
    --dark-gray: #333;
    --gray: #CACACA;
    --space-gray: #999;
    --hover-purple: #C283F3;
    --active-purple: #7943A4;
    --focus-purple: #7943A4;
    --border-hover: #D1A9F0;
}
