:root {
  --dark-gray: #333;
  --gray: #CACACA;
  --space-gray: #999;
  --hover: #C283F3;
  --second-hover: #9D5CD0;
  --purple: #9D5CD0;
  --active: #7943A4;
  --focus: #7943A4;
  --border-hover: #D1A9F0;
}
